In [1]:
#import modules
import pandas as pd

In [28]:
#load in fast food csv
ff_csv = "resources/fast_food.csv"
ff_df_bad_column = pd.read_csv(ff_csv)

In [50]:
#load in obesity csv
obesity_csv = "resources/obesity.csv"
obesity_df_bad_column = pd.read_csv(obesity_csv)

In [29]:
#remove the "unnamed" column - ff
ff_df = ff_df_bad_column.drop(columns=["Unnamed: 0", "websites"])

In [84]:
#renamed post code column - ff
organised_df = ff_df.rename(columns={"name": "Name", "categories": "Categories", "address": "Address", "postalCode":"Post Code", "city": "City", "province": "State (Abbrev)", "country": "Country", "longitude": "Longitude", "latitude": "Latitude"})

In [85]:
#reorder the columns - ff
ff_reorganised_df = organised_df[["Name", "Categories", "Address", "Post Code", "City", "State (Abbrev)", "Country", "Longitude", "Latitude"]]

In [78]:
# dropped unused columns and renamed useful columns - ob
obesity_df_fixed_column = obesity_df_bad_column[["Data_Value", "LocationDesc", "Sample_Size", "Low_Confidence_Limit", "High_Confidence_Limit"]]
obesity_fixed_name = obesity_df_fixed_column.rename(columns={"Data_Value":"Percentage of Population", "LocationDesc": "State", "Sample_Size": "Sample Size", "Low_Confidence_Limit": "Low Confidence Limit", "High_Confidence_Limit": "High Confidence Limit"})

In [105]:
# removed ghost rows - ob
obesity_dropped_df = obesity_fixed_name.iloc[:-9]
obesity_dropped_df.head()

,Percentage of Population,State,Sample Size,Low Confidence Limit,High Confidence Limit
0,31.4,National,"374,073",31.1,31.6
1,36.1,Alabama,"6,521",34.6,37.7
2,30.5,Alaska,"2,729",27.8,33.4
3,31.4,Arizona,"8,183",29.7,33.2
4,37.4,Arkansas,"4,922",35.5,39.4

In [94]:
#create new column for ob_df
state_abrev = ["USA", "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY", "GU", "PR"]

In [108]:
#add list with abbreviations to ob_df
obesity_dropped_df["State (Abbrev)"] = state_abrev
obesity_dropped_df.head()

<ipython-input-108-83a39f218de7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obesity_dropped_df["State (Abbrev)"] = state_abrev

,Percentage of Population,State,Sample Size,Low Confidence Limit,High Confidence Limit,State (Abbrev)
0,31.4,National,"374,073",31.1,31.6,USA
1,36.1,Alabama,"6,521",34.6,37.7,AL
2,30.5,Alaska,"2,729",27.8,33.4,AK
3,31.4,Arizona,"8,183",29.7,33.2,AZ
4,37.4,Arkansas,"4,922",35.5,39.4,AR

In [110]:
#put State (Abbrev) column between State and Sample Size columns
cleaned_ob_df = obesity_dropped_df[["Percentage of Population", "State", "State (Abbrev)", "Sample Size", "Low Confidence Limit", "High Confidence Limit"]]
cleaned_ob_df.head()

,Percentage of Population,State,State (Abbrev),Sample Size,Low Confidence Limit,High Confidence Limit
0,31.4,National,USA,"374,073",31.1,31.6
1,36.1,Alabama,AL,"6,521",34.6,37.7
2,30.5,Alaska,AK,"2,729",27.8,33.4
3,31.4,Arizona,AZ,"8,183",29.7,33.2
4,37.4,Arkansas,AR,"4,922",35.5,39.4

In [86]:
ff_reorganised_df.head()

,Name,Categories,Address,Post Code,City,State (Abbrev),Country,Longitude,Latitude
0,SONIC Drive In,American Restaurant and Fast Food Restaurant,800 N Canal Blvd,70301,Thibodaux,LA,US,-90.814742,29.814697
1,SONIC Drive In,Fast Food Restaurants,800 N Canal Blvd,70301,Thibodaux,LA,US,-90.814742,29.814697
2,Taco Bell,Fast Food Restaurant,206 Wears Valley Rd,37863,Pigeon Forge,TN,US,-83.580553,35.803788
3,Arby's,Fast Food,3652 Parkway,37863,Pigeon Forge,TN,US,-83.551408,35.782339
4,Steak 'n Shake,Fast Food Restaurant,2118 Mt Zion Parkway,30260,Morrow,GA,US,-84.321143,33.562738